
.custom-nav{
    margin: 0;
    border: none;
}

.custom-tab{
    padding: 0;
    background-color: #DA2B23;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    background-color: #B90908;
    color: #fff;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background-color: #DA2B23;
    color: #fff;
}

.custom-tab a{
    padding: 0;
    border: none !important;
    margin: 0;
    height: 240px;
    color: #fff;
}

.custom-tab.active:after{
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(185, 9, 8, 0);
    border-top-color: #B90908;
    border-width: 30px;
    margin-left: -30px;
}